body {
   margin: 0px; 
   padding: 0px;
   font-family: Helvetica-Neue;
}

.timer-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: dodgerblue;
}

.timer-page .timer,.task {
    text-align: center;
}

.timer-page .timer{
    font-family: Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    margin: 0;
}

.timer-page .task{
    font-family: Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}

.timer-page .buttons{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

.main-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: dodgerblue;
}



header {
    /* PomoTimer */
    background-color: #E36060;
    font-family: Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    margin: 0;
    /*line-height: 73px;*/
    color: #FFFFFF;
    position: relative;
}

header > h1 {
    margin: 0;
}